body { 
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: #130502;
    background-color: #FFFFFF;
}

#banner, #footer {
    background-color: #130502;
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'David Libre', serif;
    text-align: center;
}

#banner {
    padding:4px;
    height:20px;
}

.equals {
    color: #fce21b;
}

#footer {
    height: 75px;
    padding: 75px 0px;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#header a, #sidebar a {
    font-size: 1.2em;
    letter-spacing: 0.1em;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    /* color: #130502; */
}

a {
    color: inherit;
    text-decoration: none;
}

a:visited {
    /* color: #130502; */
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

#header a:hover, #sidebar a:hover {
    color:dodgerblue;
}

#banner a, #footer a {
    font-family: 'David Libre', serif;
    letter-spacing:normal;
    /* color:#FFFFFF; */
}

#banner a:visited, #footer a:visited{
    /* color:#FFFFFF; */
}

#banner a:hover, #footer a:hover {
    color: #fce21b;
}

.down {
    font-size: 0.9em;
    margin: 0 4px;
}

input[type="search"]{
    /* TODO: make the magnifying glass search box */
    margin-right: 10px;
    border: 1px solid rgb(163, 163, 163);
    border-radius: 5px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Sansita Swashed', cursive;
    font-size: 40px;
}

h2 {
    font-size: 1.5em;
    font-family: 'David Libre', serif;
    margin-top: 2px;
    margin-bottom: 8px;
    color: dodgerblue;
}

hr {
    width: 300px;
    margin-left: 0px;
    border: 3px solid #fce21b; 
}

#header ul {
    display: flex;
    flex-direction: row;
}

#main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1000px;
}

#two-columns {
    margin-top: 75px;
    background-color: white;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: auto;
}

#sidebar {
    width: 200px;
    padding: 0;
}

#left-column {
    display: flex;
    flex-direction: column;
    flex-basis: 800px;
    padding-right: 200px;
}

#divider {
    margin-top: 75px;
}

#not-featured-posts {
    display: flex;
    flex-direction: row;
    margin-bottom: 75px;
    height: 230px;
    width: 610px;
    padding: 10px;
    overflow-x: auto;
    overflow-y: hidden;
}

.post {
    position: relative;
}

.post-preview {
    padding: 15px;
    background: white;
    width: 300px;
    height: 125px;
    margin-left: 20px;
    margin-bottom: -45px;
    position: absolute;
    bottom: 0;
    filter: drop-shadow(0 2px 2px rgba(163, 163, 163));
    border-radius: 2px;
}

.post:hover > .post-preview {
    filter:  drop-shadow(0 5px 5px rgba(163, 163, 163));
    transition: 0.5s;
}

#post1 {
    background: url("https://live.staticflickr.com/7771/26257959264_99672c1e22_b.jpg");
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 25%;
    background-position-y: 40%;
    margin-bottom: 75px;
}

#not-featured-posts > .post {
    height: 200px;
    width: 450px;
    margin-right: 50px;
    flex-shrink: 0;
}

#not-featured-posts > .post > .post-preview {
    margin-bottom: 0;
}

#post2{
    background: url("https://live.staticflickr.com/4307/35483499933_45c21a0440_b.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 25%;
    background-position-y: 50%;
}

#post3{
    background: url("https://live.staticflickr.com/5245/5229573910_7ccdfca5ce_b.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 25%;
    background-position-y: 30%;
}

#post4{
    background: url("https://austenprose.files.wordpress.com/2011/01/austen_warhol_banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position-x: 25%;
    background-position-y: 25%; */
}

@media(max-width:500px) {
    
    #main {
        width: auto;
        max-width: 100vw;
        height: auto;
        align-items: center;
        margin: 20px 10px 50px 10px;
        /* padding: 10px; */
    }
    
    #header, #header ul, #two-columns, #not-featured-posts {
        flex-direction: column;
        align-items: center;
        flex: 1 1 auto;
    }

    #header {
        flex-basis: 1 1 auto;
    }

    #header > ul, #header > input[type="search"] {
        margin: 10px 0;
    }

    #sidebar {
        width: 75%;
        display: flex;
    }

    #sidebar > h2 {
        margin: 0 10px;
    }

    #sidebar ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #sidebar li {
        display: inline;
    }

    #two-columns {
        margin-top: 40px;
    }

    #left-column {
        flex: 1 1;
        padding: 0;
        margin: 20px 0 0 0;
        width: auto;
        min-width: 200px;
        max-width: 500px;
        /* align-items: center; */
    }

    #divider {
        align-self: center;
    }

    hr {
        width: auto;
    }

    #not-featured-posts {
        height: auto;
        width: auto;
        overflow: unset;
        margin: 0;
        padding: 0;
        /* align-items: center; */
    }

    #not-featured-posts > .post {
        margin: 20px 0;
        flex: 1 0 auto;
    }

    #banner a, #footer a {
        color: #fce21b;
    } 

    #banner a:visited, #footer a:visited {
        color: #fce21b;
    }
    
}