body {

}
.banner {
    /* copy font family and color from blm website */
    padding:5px;
    height:28px;
    background-color: yellow;
    color: black;
    font-size: 20px;
    text-align: center;
}
header {
    margin: 10px 50px 0 50px;
    display: flex;
    justify-content: space-between;
    /* font-family */
}
header h1{
    
}
nav {
    margin-right: 20px;
    margin-top: 10px;
}
ul {
   margin: none;
}
nav li {
    display: inline;
    /* font-family */
    font-size: 14px;
}
input[type="search"]{
    /* TODO */
}
.sidebar ul{
    margin: 5px 0;
    padding: 0;
}
.sidebar li{
    display: block;
}
nav a {
    /* adjust color and underline styles */
}
img {
    /* automatically size img elements to 100% the width and height of their div containers */
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
}
.down {
    font-size: 12px;
}
.container {
    margin: 30px 50px 50px 30px;
    margin-left: 50px;
    margin-right:50px;
    display: flex;
    justify-content: space-between;
}
.carousel {
    width:600px;
}
article {
    padding: 5px;
    background: white;
    width: 300px;
    height: 125px;
    margin-left: 20px;
    margin-bottom: -30px;
    font-size: 16px;
    line-height: 18px;
    position: absolute;
    bottom: 0;
    /* TODO add shadow */
}
.post1 {
    background: url("https://live.staticflickr.com/7771/26257959264_99672c1e22_b.jpg");
    margin-bottom: 150px;
    height:350px;
    position: relative;
}
/* TODO: Make the other post previews appear on scrolling down. */
.post2 article, .post3 article, .post4 article{
    margin-bottom:0;
}
.post2, .post3, .post4 {
    margin-bottom: 50px;
    height:200px;
    position: relative;
}
.post2{
    background: url("https://live.staticflickr.com/4307/35483499933_45c21a0440_b.jpg"); 
}
.post3{
    background: url("https://live.staticflickr.com/5245/5229573910_7ccdfca5ce_b.jpg");
}
.post4{
    background: url("https://live.staticflickr.com/5245/5229573910_7ccdfca5ce_b.jpg");
}
h2 {
    font-size:18px;
    margin-top: 2px;
    margin-bottom: 4px;
}
/* TODO: media queries */