body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.banner {
    /* copy font family and color from blm website */
    padding:4px;
    height:20px;
    background-color: black;
    color: white;
    font-size: 16px;
    font-family: 'David Libre', serif;
    text-align: center;
}
.equals {
    color: #fce21b;
}
header {
    margin: 10px 30px 0 30px;
    display: flex;
    justify-content: space-between;
    /* font-family */
}
header h1{
    font-family: 'Sansita Swashed', cursive;
}
footer {
    background-color: black;
    height: 75px;
    padding: 75px 0px;
    font-family: 'David Libre', serif;
    text-align: center;
    color: white;
}
.banner a {
    font-family: 'David Libre', serif;
}
.banner a, footer a {
    color:white;
}
.banner a:hover, footer a:hover {
    color: #fce21b;
}
nav {
    margin-right: 20px;
    margin-top: 10px;
}
ul {
   margin: none;
}
nav li {
    display: inline;
    font-size: 14px;
}
a {
    font-family: 'Open Sans Condensed', sans-serif;
    color: black;
    text-decoration: none;
}
a:hover {
    color:dodgerblue;
    text-decoration: underline;
}
a:visited {
    color: black;
}
input[type="search"]{
    /* TODO: make the magnifying glass search box */
    margin-right: 10px;
    border: 1px solid rgb(163, 163, 163);
}
.sidebar ul{
    margin: 5px 0;
    padding: 0;
}
.sidebar li{
    display: block;
}
/* img {
    /* automatically sizes img elements to 100% the width and height of their div containers 
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image 
} */
.down {
    font-size: 12px;
    margin: 2px;
}
.container {
    margin: 30px 30px 75px 30px;
    display: flex;
    justify-content: space-between;
}
.carousel {
    width:600px;
}
article {
    padding: 15px;
    background: white;
    width: 300px;
    height: 125px;
    margin-left: 20px;
    margin-bottom: -30px;
    font-size: 12px;
    line-height: 20px;
    position: absolute;
    bottom: 0;
    filter: drop-shadow(0 2px 2px rgba(163, 163, 163));
    border-radius: 2px;
}
/* TODO: This class selector is not affecting the background of each div in class post. However, if I copy-paste the code into #post1, then it takes effect. */
.post {
    position: relative;
    /* center background images, auto size to fit div, and prevent tiling */
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 25%;
    background-position-y: 25%; */
    margin-bottom: 50px;
}
#post1 {
    /* TODO: Until scroll, this is the only post visible. */
    background: url("https://live.staticflickr.com/7771/26257959264_99672c1e22_b.jpg");
    height:350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 25%;
    background-position-y: 25%;
    margin-bottom:200px;
}
#post2 article, #post3 article, #post4 article{
    margin-bottom:0;
}
#post2{
    background: url("https://live.staticflickr.com/4307/35483499933_45c21a0440_b.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 25%;
    background-position-y: 25%;
}
#post3{
    background: url("https://live.staticflickr.com/5245/5229573910_7ccdfca5ce_b.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 25%;
    background-position-y: 25%;
}
#post4{
    background: url("https://i.imgur.com/9U8J3XT.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 25%;
    background-position-y: 25%;
}
/* TODO: Make the other post previews appear only on scrolling down. */
/* .not_featured_invisible {
    display: none;
} */
/*TODO: On scrolldown, toggle .not_featured and increase top margin between not_featured and post1.*/
.not_featured_visible {
    margin-top: 100px;
}
.not_featured_visible .post{
    height:200px;
}
h2 {
    font-size: 20px;
    font-family: 'David Libre', serif;
    margin-top: 2px;
    margin-bottom: 8px;
    color: dodgerblue;
}
/* TODO: media queries */